*{
}
body{
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boton-enlaces{
    font-size: 20px;
    border-radius:10px;
    background: #fff;
    border: solid 2px #006eff;
    color: #006eff;
    padding: 5px;
    transition: all 1s;
    margin: 10px;

}
.boton-enlaces:hover{
    background: #006eff;
    color: #fff;
    transition: all 1s;
}

.codigo-azul{

    background: #006eff;
    border-radius: 10px;
    height: auto ;
    width: 500px;
    color: #fff;
    margin: 10px;
}

main{
    padding:20px;
}
.mensaje-oculto {
    display: none;
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
    font-weight: bold;
}
form{
    padding: 10px;
}

.boton {
    font-size: 15px;
    border-radius:5px;
    background:#006eff;
    border: solid 2px #ffffff;
    color: #ffffff;
    padding: 5px;
    transition: all 0.5s;
    margin: 10px;
}
.boton:hover { 
background:#fff;
color:#006eff;
transition: all 0.5s;
}
.boton::before{
    font-size: 16px;
    color: #000;
}
/* */
.boton_emer {
    font-size: 15px;
    border-radius:5px;
    background:#0e580e9d;
    border: solid 2px #ffffff;
    color: #ffffff;
    padding: 5px;
    transition: all 0.5s;
    margin: 10px;
}
.boton_emer:hover { 
background:#fff;
color:#32b832;
transition: all 0.5s;
}
.boton_emer::before{
    font-size: 16px;
    color: #000;
}
/* */
/* */
.boton_urg {
    font-size: 15px;
    border-radius:5px;
    background:#580e0e9d;
    border: solid 2px #ffffff;
    color: #ffffff;
    padding: 5px;
    transition: all 0.5s;
    margin: 10px;
}
.boton_urg:hover { 
background:#fff;
color:#c93232;
transition: all 0.5s;
}
.boton_urg::before{
    font-size: 16px;
    color: #000;
}
/* */
.normal{
	position: relative;
	top: 0px;
	width: 30%;
	padding: 12px;
	background-color: rgba(17, 165, 17, 0.836);
	color: white;
	bottom: 50px;
	border-radius: 20px;
    text-align: center;
    left: 35%;
}
.urgente{
	position: relative;
	top: 0px;
	width: 30%;
	padding: 12px;
	background-color: rgb(255, 0, 0);
	color: white;
	bottom: 50px;
	border-radius: 20px;
    text-align: center;
    left: 35%;
}
#formulario-emergencia{
    background-color: #32b832
}
#formulario-normal{
    background-color: #c93232;
}
.enlace{
    padding-left: 5px;
    padding-top: 5px;
}
#hora{
    width: 8%;
}