body{background-color: #5BC0BE}

h2{font-size: 30px;}
img{
    border: 5px dashed #2623ef ;
    border-radius: 55px;
}
h1{
    text-shadow: 10px 10px 3px #aa5d6b;
    font-size: 200%;
    color: #54457F;
}
font{font-size: 150% ;}
a {
    text-align: center;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #8F3985;
    color: #8F3985;
  }
  a:hover {
    color: #fff;
  }
  a:hover:after {
    height: 100%;
  }
  a:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #8F3985;
  }